.res-image {
    position: relative;
    max-width: 100%;
    margin-top: -80px;

  }
.res-image__image {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
  }
  
.header-image{
  margin-top:-80px;
  margin-left: -10px;
}

.btn-1{
  margin-left: 300px;
  margin-top: 50px;
  border-radius: 12px;
  width:220px;
  height: 50px;
  background-color: yellow;
  border-color: yellow;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;



}

.btn-2{
  margin-left: 180px;
  margin-top: 50px;
  border-radius: 12px;
  width:220px;
  height: 50px;
  background-color: rgb(14, 216, 216);
  border-color: rgb(14, 216, 216);
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;

}
.btn-3{
  margin-left: 22%;
  margin-top: 70px;
  border-radius: 12px;
  width:220px;
  height: 50px;
  background-color:palevioletred;
  border-color:palevioletred;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;

}
.btn-4{
  margin-left: 180px;
  margin-top: 10px;
  border-radius: 12px;
  width:220px;
  height: 50px;
  background-color: greenyellow;
  border-color: greenyellow;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
 

}

.material-icons{
  margin-bottom: -30px;
}
@media screen and (max-width: 600px) {
  .btn-1 {
    
    width: 45%;
    
    font-size: 10px;
    font-weight: bold;
    margin-left: 40px;
    margin-top:30px;

    /* The width is 100%, when the viewport is 800px or smaller */
  }
  .btn-2 {
    
    width: 45%;
    
    font-size: 10px;
    font-weight: bold;
    margin-left: 40px;
    margin-top:30px;

    /* The width is 100%, when the viewport is 800px or smaller */
  }
  .btn-3 {
    
    width: 45%;
    
    font-size: 10px;
    font-weight: bold;
    margin-left: 40px;
    margin-top:30px;

    /* The width is 100%, when the viewport is 800px or smaller */
  }
  .btn-4 {
    
    width: 45%;
    
    font-size: 10px;
    font-weight: bold;
    margin-left: 40px;
    margin-top:30px;

    /* The width is 100%, when the viewport is 800px or smaller */
  }
}