input[type="textss"]{
    margin-top: 30px;
    margin-left: 50px;
    
}
input[type="file"]{
    margin-top: 30px;
    margin-left: 50px;
    
}
input[type="texts"]{
    margin-top: 30px;
    margin-left: 40px;
    
}
.l-n{
    margin-left:35%;
}
.p-n{
    margin-left: 35%;
}
.u-c{
    margin-left: 35%;
}
.submit-button{
    margin-left: 45%;
    /* background-color: black; */
}
.top-lawyer{
    margin-left: 34%;

}
hr.new{
   
    width:30%;
}